@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


body {
  font-family: 'Roboto';
  margin: auto;
  max-width: 1280px;
  background-color: #000000;
}

.parallelogramcalcu{
	max-width:800px; 
	margin:0 auto;
	margin-top: 7%;
    border-radius: .3rem;
 	background-color: #e9ecef;
    height: 400px;
}

h1 {
	padding-top: 50px;
	text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Staatliches', cursive;
    color: #F2604E;
}

p , i {
	width: 700px;
	padding: 15px;
	text-align: center;
    margin: 0px auto;
    display: block;
    font-family: 'Roboto';
    padding-bottom: 0px; 
}

i {
	font-weight: bold;
}

.calculation{
	max-width: 800px;
	text-align: center;
    margin: 0px auto;
    display: block;
}

button{
	font-family: 'Staatliches', cursive;
	font-size: 15px;
	margin: 5px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 10%;
	background-color: #007bff;
    border-color: #007bff;
	color: #FFFF;
}

.answer {
	padding: 20px;
	padding-top: 10px;
}